#Ignoring output directories
Recon/
output/
reports/
.obsidian/
test/
.trunk/

#Ignoring compressed files
*.tar
*.tar.*
*.zip
.DS_Store
reconftw.cfg-personal

#Ignoring sensitive configuration with Telegram tokens
reconftw-hs.cfg-personal